.App {
  text-align: center;
  background-color: black;
}

.video {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
}

.title-container {
  z-index: 1;
  position: relative;
  height: 160vh;
  background-color: black;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.title-content {
  margin-top: 40vh;
}

.arrow-icon {
  margin-top: 6%;
  animation: bounce .6s infinite normal ease-in-out;
}

h1 {
    font-size: 3em;
    background: #fff;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 0;
}

@keyframes bounce {
  
    0%, 100% {
      transform: translate(0, 0);
    }
  
    50% {
      transform: translate(0, 12px);
    }
}